<div class="content">
    <table border="1">
        <thead>
            <th>Name</th>
            <th>Sid</th>
            <th class="amt">Qty</th>
            <th class="amt">Changes</th>
            <th class="amt">LTP</th>
            <th>dyChange</th>
            <th>wkChange</th>
            <th>mnChange</th>
            <th>low52w</th>
            <th>high52w</th>
            <th>vol</th>
        </thead>
        <tbody>
            <tr class="{{ !ltpdata ? '' : 'hide'}}" >
                <th colspan="9">Loading ....</th>
            </tr>
            <tr class="box" *ngFor="let val of ltpdata" title="{{ sidData[val['sid']]['share_name'].substr(0,120) }}">
                <td>
                    {{ sidData[val['sid']]['share_name'].substr(0,12) }}
                </td>
                <td>{{ val['sid']}}</td>
                <td class="amt">
                    {{ sidData[val['sid']]['cqty'] }}
                </td>
                <td class="amt">
                    {{ sidData[val['sid']]['cqty']*val['dyChange']*val['c']*0.01 | number:'1.0-0' }}
                </td>
                <td class="amt">
                    {{ val['price'] | number:'1.0-0'  }}
                </td>
                <td class="{{ val['dyChange']<0 ? 'red':''}}">
                    {{ val['dyChange'] | number:'1.0-2' }}
                </td>
                <td class="{{ val['wkChange']<0 ? 'red':''}}">
                    {{ val['wkChange'] | number:'1.0-0' }}
                </td>
                <td class="{{ val['mnChange']<0 ? 'red':''}}">
                    {{ val['mnChange'] | number:'1.0-0' }}
                </td>
                <td>
                    {{ val['low52w'] | number:'1.0-0' }}
                </td>
                <td>
                    {{ val['high52w'] | number:'1.0-0' }}
                </td>
                <td>
                    {{ val['vol'] | number:'1.0-0' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>