.content{
    background-color: #FFF;
    width: 1340px;
    padding: 0.1rem;
    margin: 0 10px;
table{
    margin: 0 10px;
    border: 1px solid;
    border-collapse: collapse;
}
th, td{
    width: 150px;
    text-align: center;
    padding: 10px 5px;
}
.amt{
    text-align: right;
}