<h5><u>Activity Works!</u></h5>
<table>
    <tr>
        <th>
            <a href="https://www.chittorgarh.com/report/mainboard-ipo-list-in-india-bse-nse/83/" target="_blank">Chittorgarh</a>
            <a href="https://www.investorgain.com/report/live-ipo-gmp/331/" target="_blank">Investorgain</a>
            <a href="https://invest.upstox.com/ipo/applications" target="_blank">UpStock</a>
            <a href="https://in.investing.com/" target="_blank">Investing</a>
            <a href="https://codesandbox.io/p/github/prasenjit1011/dematSandbox/tickertape" target="_blank">CodeSandBox</a>
            <a href="https://cloud.mongodb.com/v2/65a000d7e3a5563410a0f43b#/metrics/replicaSet/65a0010b250b252ebbbd1382/explorer/demat/tradebooks/find" target="_blank">MongoDB</a>
        </th>
    </tr>
    <tr>
        <td>
            CodeSandBox Restart : Ctrl+Shift+P -> Instance Rebuild and Restart
        </td>
    </tr>
    <tr>
        <td>
            <b>MongoDB : </b> &nbsp; 
            <a href="https://www.youtube.com/watch?v=SUZKhBvxW5c&list=PLRAV69dS1uWQ6CZCehxKy0rjkqhQ2Z88t&index=1&pp=iAQB">
                Tutorial 1
            </a> &nbsp;
        </td>
    </tr>
</table>
<br />
<br />
<br />
1. A demonstration to show how the 2 data sets are being captured
2. Demonstrate upload of transactional data for a particular account
3. Please demonstrate capture the following data sets from the factsheets:
        a. Standard Deviation
        b. Sharpe Ratio
        c. Capture Ratio (Up and Down)
        d. Beta 
        e. Alpha
        f. Market Cap (Large/Mid/Small)
        g. Rolling Returns (1 yr, 3 yr, 5 yr)
        h. Expense Ratios
        i. Exit Load
        j. Category

<br /><br />
