<h5><u>Activity Works!</u></h5>
<table>
    <tr>
        <th>
            <a href="https://www.chittorgarh.com/report/mainboard-ipo-list-in-india-bse-nse/83/" target="_blank">Chittorgarh</a>
            <a href="https://www.investorgain.com/report/live-ipo-gmp/331/" target="_blank">Investorgain</a>
            <a href="https://invest.upstox.com/ipo/applications" target="_blank">UpStock</a>
            <a href="https://www.5paisa.com/nifty-50-stocks-list" target="_blank">Nifty-50</a>
            <a href="https://in.investing.com/" target="_blank">Investing</a>
            <a href="https://codesandbox.io/p/github/prasenjit1011/dematSandbox/tickertape" target="_blank">CodeSandBox</a>
            <a href="https://codesandbox.io/p/github/prasenjit1011/NodeJSMongoDBMaster/tickertape?workspaceId=f7ab674c-7176-46a3-864d-49b57d1c75fa" target="_blank">CodeSandBox</a>
            <a href="https://cloud.mongodb.com/v2/65a000d7e3a5563410a0f43b#/metrics/replicaSet/65a0010b250b252ebbbd1382/explorer/demat/tradebooks/find" target="_blank">MongoDB</a>
            <a href="https://www.youtube.com/watch?v=SUZKhBvxW5c&list=PLRAV69dS1uWQ6CZCehxKy0rjkqhQ2Z88t&index=1&pp=iAQB">
                MongoDB 1
            </a> 
        </th>
    </tr>
    <tr>
        <td>
            CodeSandBox Restart : Ctrl+Shift+P -> Instance Rebuild and Restart<br />
            <a href="https://codesandbox.io/p/github/prasenjit1011/NodeJSMongoDBMaster/tickertape?file=%2Fapp.js%3A64%2C6&workspaceId=f7ab674c-7176-46a3-864d-49b57d1c75fa">
              Tickertape
            </a>
        </td>
    </tr>    
    <tr>
        <td>
            php -S localhost:8000 -t "."
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="Sid" [(ngModel)]="sid" /> &nbsp;
            <input type="text" placeholder="Share Name" [(ngModel)]="shareName" /> &nbsp;
            <input type="button" value="Search" style="cursor: pointer;" (click)="searchShare()" /> &nbsp;
            <input type="button" value="Save" style="cursor: pointer;" (click)="addShare()" />
        </td>
    </tr>
    <tr>   
        <td>
            <br />
            Need to Login ( prasenjit.aluni _ gmail.com )
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/ADHAR/WhctKHSlCKbgGTswMjgXGNnLPtcmcnMBsTTJJzkDJJQgdQTnlcNrHPZHCwlSfVXdjnDbKqV" target="_blank">
                Adhar / Pan / SBI Bank Details / Photo
            </a>
            Bank Details : 
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox/WhctKLbFbDkDvHkwZhpXnzSGBNTXXfdGxPtDwXpKsKhhrfmjGtWQWVCLTRTJknqWcqZDnLB" target="_blank">
                ICICI
            </a>
            <br /><br />

            Adhar : 9175-6246-1063 &nbsp;
            UAN : 1017-6287-7332 &nbsp; 
            PF Login : B _ _ _ _ _ _ 3 4 5 <br /> 
            <a href="https://unifiedportal-mem.epfindia.gov.in/memberinterface/" target="_blank">
                PF URL 
            </a>
          <a href="https://passbook.epfindia.gov.in/MemberPassBook/login" target="_blank">
            PF Passbook
          </a>


            


            


            <br /><hr />
            CodeClouds : 
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/hr%40codeclouds.com/WhctKJWQlrfkZFchgBLBSqTwCCKtwbwBskWwfTHXgzZGCzLnDFHKqFdFfQmdhLpdCvSVSLv" target="_blank">
                Offer Letter
            </a> &nbsp;
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/codecloud+/GTvVlcSMSqJmdBKjgPJpDMsFzmjLJdVFNJSQfbTZpqPKLfDhNqMTWHQBjplDxckPzlWKvqHntZXnG?projector=1" target="_blank">
                Exit Document
            </a> &nbsp;
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/Release+Letter/WhctKKZPLZxRnZJFzVdhsWcLCBGHKVfMBjKlGSdjWlqPcjvSFWCwxVxwppGRbwpftFsWfZg?projector=1&messagePartId=0.1" target="_blank">
                Released Letter
            </a> &nbsp;<br />
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox/WhctKLbFWzWbvVdxqQrvPdgRLnRChflrwWdCXTlXrhhwcHntXhGgsxdpPqHgDThdKFHNLWg" target="_blank">
                Form 16 (21-22)
            </a> &nbsp;
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/prasenjit.aluni%40codeclouds.com/WhctKKZPGSwDlNrCXTcPHtfHWCwPrfbBVSftNjpkggRSnLRFjftgsDrtDLjbFDlpsGLdvgL?projector=1&messagePartId=0.1" target="_blank">
                Form 16 (22-23)
            </a> &nbsp;
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#search/accounting%40codeclouds.com/CllgCHrkWHsnFxTNfmhjKHDlnqkdxCfTZzdJVBZKbkTGmRdRlChbjjhRcDNpqtZSRXkwbJDxpvV?projector=1&messagePartId=0.1" target="_blank">
                Form 16 (23-24)
            </a> &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <br />
            Tulip : 
            <a href="https://docs.google.com/document/d/1oFCjlq8QI7nq0lQZPt-zDZUH3JQNMCyC95oC9_PICcM/edit" target="_blank">
                Doc1
            </a>
            <a href="https://docs.google.com/document/d/1eQBSw1lS3SXqPnUVYnmk1QhJm6YfI_JhqZhOB6JZ54c/edit" target="_blank">
                Doc2
            </a>
        </td>
    </tr>
</table>
<br />
<br />

<table class="nifty50">
    <thead>
        <tr>
            <th>Name</th>
            <th>LTP</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td>
        <a href="https://www.5paisa.com/stocks/asianpaint-share-price">Asian Paints Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/britannia-share-price">Britannia Industries Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/cipla-share-price">Cipla Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/eichermot-share-price">Eicher Motors Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/nestleind-share-price">Nestle India Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/grasim-share-price">Grasim Industries Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/heromotoco-share-price">Hero MotoCorp Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/hindalco-share-price">Hindalco Industries Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/hindunilvr-share-price">Hindustan Unilever Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/itc-share-price">ITC Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/lt-share-price">Larsen &amp; Toubro Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/m&amp;m-share-price">Mahindra &amp; Mahindra Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/reliance-share-price">Reliance Industries Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/tataconsum-share-price">Tata Consumer Products Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/tatamotors-share-price">Tata Motors Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/tatasteel-share-price">Tata Steel Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/wipro-share-price">Wipro Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/apollohosp-share-price">Apollo Hospitals Enterprise Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/drreddy-share-price">Dr Reddys Laboratories Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/titan-share-price">Titan Company Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/sbin-share-price">State Bank of India</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/shriramfin-share-price">Shriram Finance Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/bpcl-share-price">Bharat Petroleum Corporation Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/kotakbank-share-price">Kotak Mahindra Bank Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/infy-share-price">Infosys Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/bajfinance-share-price">Bajaj Finance Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/adanient-share-price">Adani Enterprises Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/sunpharma-share-price">Sun Pharmaceuticals Industries Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/jswsteel-share-price">JSW Steel Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/hdfcbank-share-price">HDFC Bank Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/tcs-share-price">Tata Consultancy Services Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/icicibank-share-price">ICICI Bank Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/powergrid-share-price">Power Grid Corporation of India Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/maruti-share-price">Maruti Suzuki India Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/indusindbk-share-price">IndusInd Bank Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/axisbank-share-price">Axis Bank Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/hcltech-share-price">HCL Technologies Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/ongc-share-price">Oil &amp; Natural Gas Corpn Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/ntpc-share-price">NTPC Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/coalindia-share-price">Coal India Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/bhartiartl-share-price">Bharti Airtel Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/techm-share-price">Tech Mahindra Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/ltim-share-price">LTIMindtree Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/divislab-share-price">Divis Laboratories Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/adaniports-share-price">Adani Ports &amp; Special Economic Zone Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/hdfclife-share-price">HDFC Life Insurance Company Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/sbilife-share-price">SBI Life Insurance Company Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/ultracemco-share-price">UltraTech Cement Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/bajaj-auto-share-price">Bajaj Auto Ltd</a>
    </td>
    </tr>
    <tr>
    <td>
    <a href="https://www.5paisa.com/stocks/bajajfinsv-share-price">Bajaj Finserv Ltd</a>
    </td>
    </tr>
</tbody>
    </table>


<br />
1. A demonstration to show how the 2 data sets are being captured
2. Demonstrate upload of transactional data for a particular account
3. Please demonstrate capture the following data sets from the factsheets:
        a. Standard Deviation
        b. Sharpe Ratio
        c. Capture Ratio (Up and Down)
        d. Beta 
        e. Alpha
        f. Market Cap (Large/Mid/Small)
        g. Rolling Returns (1 yr, 3 yr, 5 yr)
        h. Expense Ratios
        i. Exit Load
        j. Category

<br /><br />
