<table class="mainContent" border="1">
    <tr>
        <td colspan="2" style="width: 50%;">
            <div style="width: 100%;">
                <div class="shareTitle">
                    <input type="text" (keydown.enter)="updParamVal($event, 'share_name')" [(ngModel)]="shareName" placeholder="Share Name" />
                </div>
                <div class="shareCode">
                    <input type="text" (keydown.enter)="updParamVal($event, 'sidCode')"   [(ngModel)]="sid" placeholder="Ticker SID" />
                    <input type="text" (keydown.enter)="updParamVal($event, 'nseCode')"   [(ngModel)]="shareDetails.nseCode"  placeholder="NSE Code" />
                    <input type="text" (keydown.enter)="updParamVal($event, 'iciciCode')" [(ngModel)]="iciciCode" placeholder="iciciCode" />
                    <input type="text" (keydown.enter)="updParamVal($event, 'growCode')"  [(ngModel)]="growCode" placeholder="growCode**" />
                </div>
                <div class="shareUrls">
                    <span *ngFor="let arr of stockUrlArr">
                        <a target="_blank" href="{{arr['val']}}" style="margin: 4px; color:blue;">
                            {{arr['key']}}
                        </a> | 
                    </span>
                </div>
                
            </div>
        </td>
        <td rowspan="3" style="width: 25%;">
            <table class="priceDetails">
                <tr>
                    <td>CurQty</td>
                    <td class="price">{{ holdingQty }}</td>
                <tr>
                    <td>Dividend</td>
                    <td class="price"></td>
                </tr>
                <tr>
                    <td>LTP</td>
                    <td class="price">{{ sharePrice | number:'1.0-0' }}</td>
                </tr>
                <tr>
                    <td>CurPurPrice</td>
                    <td class="price"></td>
                </tr>
                <tr class="{{ invStatus ? 'orangeBg':'skyBg' }}">
                    <td>{{ invStatus ? 'CurInvestment':'Gain' }}</td>
                    <td class="price">{{ (invStatus ? (this.buyTotal-this.sellTotal):(this.sellTotal-this.buyTotal)) | number:'1.0-0' }}</td>
                </tr>
                <tr>
                    <td>HoldingSharePrice</td>
                    <td class="price">{{ holdingCMP | number:'1.0-0' }}</td>
                </tr>
                <tr class="{{ (holdingCMP-(buyTotal-sellTotal)) < 0 ? 'orangeBg':'skyBg' }}">
                    <td>Profit</td>
                    <td class="price">{{ (holdingCMP-(buyTotal-sellTotal)) | number:'1.0-0' }}</td>
                </tr>
            </table>
        </td>
        <td rowspan="3">
            <table>
                <tr>
                    <td>Low</td>
                    <td></td>
                </tr>
                <tr>
                    <td>High</td>
                    <td></td>
                </tr>
                <tr>
                    <td>P.Qty</td>
                    <td></td>
                </tr>
                <tr>
                    <td>S.Qty</td>
                    <td></td>
                </tr>
                <tr>
                    <td>P.Cost</td>
                    <td></td>
                </tr>
                <tr>
                    <td>S.Price</td>
                    <td></td>
                </tr>
                <tr>
                    <td>P.Total</td>
                    <td></td>
                </tr>
                <tr>
                    <td>S.Total</td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr>
        <td style="width: 25%;">
            <table>
                <tr>
                    <td>Algo Status(1/0)</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>B.Price</td>
                    <td>123</td>
                </tr>
            </table>
        </td>
        <td style="width: 25%;">
            <select></select>
            <hr />
        </td>
    </tr>
</table>
<br />

<table class="tbl" border="1">
    <tr>
        <td>dyCh</td>
        <td>wkCh</td>
        <td>mnCh</td>
        <td>1mLow</td>
        <td>3mLow</td>
        <td>6mLow</td>
        <td>1yLow</td>
        <td>maxLow</td>
        <td>1mHigh</td>
        <td>3mHigh</td>
        <td>6mHigh</td>
        <td>1yHigh</td>
        <td>maxHigh</td>
    </tr>
    <tr>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
    </tr>
</table>
<br />
<table class="tbl" border="1">
    <tr>
        <td>QIB</td>
        <td>HNI</td>
        <td>RIL</td>
        <td>Total</td>
        <td>L.Open</td>
        <td>L.Close</td>
        <td>L.Perf.</td>
        <td>C.Gain</td>
        <td>Performance</td>
        <td>Issue</td>
        <td>Price</td>
        <td>L.Open</td>
        <td>L.Close</td>
        <td>C.Price</td>
        <td>Days</td>
        <td>IPO Date</td>
    </tr>

    <tr>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
        <td>11</td>
    </tr>
</table>

<br />

<table class="tbl transaction" border="1">
    <tr>
        <th>SL.</th>
        <th>Order Ref</th>
        <th>Date</th>
        <th>Type</th>
        <th>LTP</th>
        <th>Cost</th>
        <th>Qty</th>
        <th>Total Profit ({{ (holdingCMP+sellTotal-buyTotal) | number:'1.0-0'}})</th>
        <th>Buy ({{ buyTotal | number:'1.0-0' }})</th>
        <th>Sell ({{ sellTotal | number:'1.0-0' }})</th>
        <th>Acc</th>
    </tr>
    <tr *ngFor="let val of transaction; index as key">
        <td>{{ key+1 }}</td>
        <td>{{ val['orderRef'] }}</td>
        <td>{{ val['date'] | date: 'dd/MM/yyyy' }}</td>
        <td>{{ val['action'] }}</td>
        <td class="price">{{ sharePrice | number:'1.0-0' }}</td>
        <td class="price">{{ val['price'] | number:'1.0-0' }}</td>
        <td class="price">{{ val['qty'] }}</td>
        <td></td>
        <td class="price">{{ val['action'] == 'Buy' ? (val['tradeValue'] | number:'1.0-0') :'' }}</td>
        <td class="price">{{ val['action'] == 'Sell' ? (val['tradeValue'] | number:'1.0-0') :'' }}</td>
        <td>{{ val['DpidClientId']  == 'IN303028-7573701615' ? 'P':'R' }}</td>
    </tr>
    <tr><td colspan="12"></td></tr>
    <tr>
        <td></td>
        <td>{{ shareName }} ({{ sid }}) </td>
        <td></td>
        <td>Holding</td>
        <td></td>
        <td></td>
        <td class="price">{{ holdingQty }}</td>
        <td class="price">{{ holdingCMP | number:'1.0-0' }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<br />

<table class="tbl tblBorder" border="0">
    <tr>
        <td style="width: 45%; vertical-align: baseline; padding: 0px 10px 0 0;">
            <table class="tbl" border="1">
                <tr>
                    <th>Sl.</th>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Price</th>
                    <th>Changes</th>
                    <th>Status</th>
                </tr>
            </table>
        </td>
        <td style="width: 25%; padding: 0px 10px;">
            <table class="tbl" border="1">
                <tr><th colspan="3">Weekly Data</th>
                <tr><th>Date</th><th>Min</th><th>Max</th></tr>
                <tr *ngFor="let val of weeklyData">
                    <td class="dtd">{{ val['date'] }}</td>
                    <td class="price">{{ val['min'] | number:'1.0-0' }}</td>
                    <td class="price">{{ val['max'] | number:'1.0-0' }}</td>
                </tr>
            </table>
            <br />
            <table class="tbl" border="1">
                <tr><th>Historical Data</th><th>Price</th></tr>
                <tr *ngFor="let val of historyData">
                    <td class="dtd">{{ val[0]*1000 | date: 'dd/MM/yyyy' }}</td>
                    <td class="price">{{ val[1] | number:'1.0-0' }}</td>
                </tr>
            </table>
            <br />
            <table class="tbl" border="1">
                <tr><th>Yearly Data</th><th>Price</th></tr>
                <tr *ngFor="let val of oneYear">
                    <td class="dtd">{{ val[0]*1000 | date: 'dd/MM/yyyy' }}</td>
                    <td class="price">{{ val[1] | number:'1.0-0' }}</td>
                </tr>
            </table>
        </td>
        <td style="width: 30%; vertical-align: baseline; padding: 0px 10px;">UPDATE demat SET algo_status = 1 WHERE id IN ( SELECT DISTINCT d.id FROM `stock_pricehistory` sph LEFT JOIN demat d ON d.sid = sph.sid WHERE ltp < sph.min_price * 1.05 AND sph.year < 2023 AND sph.year > 2019 AND ltp > 100 and ltp < 200 )</td>
    </tr>
</table>

