.header{
    background-color: #FFF;
    width: 1340px;
    padding: 0.1rem;
    margin: 0 10px;
}

img{
    height: 45px;
    margin-left: 10px;
    /*float: left;*/
}

.refresh{
    /*float: left;*/
    padding: 1px 15px;
}