.headerSection{
    background-color: #FFF;
    width: 1325px;
    padding: 0.2rem;
    /*margin: 0 10px;
    border-bottom: 0px solid #000;*/
    height: 54px;;
    /*background-color: #fdb813;*/
}

img{
    height: 45px;
    margin-left: 10px;
    /*float: left;*/
}

.left{
    float: left;
}

.refresh{
    /*float: left;*/
    padding: 1px 15px;
}

.dateTime{
    float: right;
    padding: 28px 10px 0px 0px;
}

.padding15{
    padding-left: 15px;
    cursor: pointer;
    text-decoration: none;
}


.padding25{
    padding-left: 25px;
}