<div class="headerSection">
    <a routerLink="/" style="cursor: pointer;"><img src="./assets/bse.png" /></a>
    <span class="dateTime">{{ dateTime }}</span>
    <a routerLink="/" class="padding15 padding25">Home {{ refreshTime}}</a> &nbsp;
    <a routerLink="/dashboard" class="padding15">Dashboard</a> &nbsp;
    <a routerLink="/networth" class="padding15">Networth</a> &nbsp;
    <a routerLink="/activity" class="padding15">Activity</a> &nbsp;
    <a routerLink="/demo" class="padding15">Demo</a> &nbsp;
</div>