<div class="mainContent">
    <h5>Today's Status : </h5>
    <div class="scrollmenu">
        <table border="1">
            <tr>
                <td>Date.</td>
                <td *ngFor="let val of dailyStatus">
                    {{ datepipe.transform(val['createdAt'], 'd/MM') }}
                </td>
            </tr>
            <tr>
                <td>Gain</td>
                <td *ngFor="let val of dailyStatus" class="{{ val['day_status'] < 0 ? 'red':'' }}">
                    {{ val['day_status'] | number:'1.0-0'  }}
                </td>
            </tr>
            <tr>
                <td>Portfolio.</td>
                <td *ngFor="let val of dailyStatus">
                    {{ val['current_share_price'] | number:'1.0-0'  }}
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table border="1" class="tbl">
            <tr>
                <td>
                    <table border="1" class="tbl tblPortfolio" style="margin: auto;">
                        <thead>
                            <tr>
                                <th class="bold">Sl.</th>
                                <th class="bold" 
                                    (click)="this.sortData('sid')" >Sid</th>
    
                                <th class="bold" 
                                    (click)="this.sortData('stock')" >Stock {{ sortType }}</th>
    
                                <th class="bold price" 
                                    (click)="this.sortData('qty')" >Qty</th>
    
                                <th class="bold price" 
                                    (click)="this.sortData('change')" >Changes</th>
    
                                <th  class="{{ todayChange < 0 ? 'bold price red':'bold price' }}"
                                    (click)="this.sortData('stockTotalChange')" >T.Changes ({{todayChange}})</th>
    
                                <th class="bold price" 
                                    (click)="this.sortData('dyChange')" >dyChange</th>
    
                                <th class="bold price" 
                                    (click)="this.sortData('ltp')" >Price</th>
    
                                <th class="bold price" 
                                    (click)="this.sortData('currentVal')" >Total ({{ cmpTotal | number: '1.0-0' }})</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let val of portfolio; let sl=index;">
                            <td>{{ sl+1 }}</td>
                            <td>
                                <a routerLink="/details/{{ val['sid'] }}" style="cursor: pointer;">
                                    {{val['sid']}}
                                </a>
                            </td>
                            <td>
                                <a routerLink="/details/{{ val['sid'] }}" style="cursor: pointer;">
                                    {{val['stock']}}
                                </a>
                            </td>
                            <td class="price">{{val['qty']}}</td>
                            <td class="price">{{val['change'] | number: '1.0-0'}}</td>
                            <td class="price">{{val['stockTotalChange'] | number: '1.0-0'}}</td>
                            <td class="price">{{val['dyChange'] | number: '1.0-0'}}</td>
                            <td class="price">{{val['ltp'] | number: '1.0-0'}}</td>
                            <td class="price">{{val['currentVal'] | number: '1.0-0'}}</td>
                        </tr>                        
                    </table>
                </td>
                <td class="tradeBook">
                    <table border="1" style="border:0px; margin: auto;">
                        <tr>
                            <td>
                                <label for="formFile" class="form-label">Upload tradebook :</label><br />
                                <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile"><br />
                                <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>



