<div class="mainContent">
    <h5>Today's Status : </h5>
    <div class="scrollmenu">
        <table border="1">
            <tr>
                <td *ngFor="let val of dailyStatus">
                    {{ datepipe.transform(val['created_at'], 'd/MM') }}
                </td>
            </tr>
            <tr>
                <td *ngFor="let val of dailyStatus">
                    {{ val['day_status'] | number:'1.0-0'  }}
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <table border="1" style="margin: auto;">
            <tr>
                <td>
                    <label for="formFile" class="form-label">Upload tradebook :</label><br />
                    <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile"><br />
                    <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
                </td>
            </tr>
        </table>
    </div>
</div>



