<table>
    <thead>
        <tr>
        <th scope="col" (click)="this.sortData('sid')">Name</th>
        <th scope="col" (click)="this.sortData('sid')">Sid</th>
        <th scope="col" class="amt" (click)="this.sortData('qty')">
            Qty 
            ({{ cmprice | number:'1.0-0' }})
        </th>
        <th scope="col" class="amt {{ profit < 0 ? 'red' : 'blue' }}">
            {{ profit < 0 ? 'Invest' : 'Profit' }}
            ({{ profit | number:'1.0-0' }})
        </th>
        <th scope="col" class="amt" (click)="this.sortData('price')" >LTP {{ sortBy }}/{{ sortType }}</th>
        <th scope="col" (click)="this.sortData('dyChange')">dyChange</th>
        <th scope="col" (click)="this.sortData('wkChange')">wkChange</th>
        <th scope="col" (click)="this.sortData('mnChange')">mnChange</th>
        <th scope="col" (click)="this.sortData('low52w')">low52w</th>
        <th scope="col" (click)="this.sortData('high52w')">high52w</th>
        <th scope="col" (click)="this.sortData('vol')">vol</th>
        </tr>
        <tr data-label="Loading" class="{{ !ltpdata ? '' : 'hide'}}" >
            <th colspan="11">Loading ....</th>
        </tr>
    </thead>
    <tbody>
        <tr class="box" *ngFor="let val of ltpdata" title="{{ sidData[val['sid']]['share_name'].substr(0,120) }}">
            <td data-label="Name">
              <a routerLink="/details/{{ val['sid'] }}" style="cursor: pointer;" target="_blank">
              {{ sidData[val['sid']]['share_name'].substr(0,12) }}
              </a>
            </td>
          <td data-label="Sid">
              <a routerLink="/details/{{ val['sid'] }}" style="cursor: pointer;" target="_blank">
                  {{ val['sid'] }}
              </a>
          </td>
          <td data-label="Qty" class="amt">
              {{ sidData[val['sid']]['qty'] }}
          </td>
          <td data-label="D.Change" class="amt">
              {{ sidData[val['sid']]['cqty']*val['dyChange']*val['c']*0.01 | number:'1.0-0' }}
          </td>
          <td data-label="LTP" class="amt">
              {{ val['price'] | number:'1.0-0'  }}
          </td>
          <td data-label="dyChange" class="{{ val['dyChange']<0 ? 'red':''}}">
              {{ val['dyChange'] | number:'1.0-2' }}
          </td>
          <td data-label="wkChange" class="{{ val['wkChange']<0 ? 'red':''}}">
              {{ val['wkChange'] | number:'1.0-0' }}
          </td>
          <td data-label="mnChange" class="{{ val['mnChange']<0 ? 'red':''}}">
              {{ val['mnChange'] | number:'1.0-0' }}
          </td>
          <td data-label="low52w">
              {{ val['low52w'] | number:'1.0-0' }}
          </td>
          <td data-label="high52w">
              {{ val['high52w'] | number:'1.0-0' }}
          </td>
          <td data-label="Volume">
              {{ val['vol'] | number:'1.0-0' }}
          </td>
      </tr>
    </tbody>
  </table>