<div class="list">
    <h3>{{ title }}, Page No {{ page }}</h3>
		<a
			[routerLink]="['/client']"
			[queryParams]="{ pageno: 1}"
		>
			Page 1
		</a> &nbsp; &nbsp;
		<a
			[routerLink]="['/client']"
			[queryParams]="{ pageno: 2}"
		>
			Page 2
		</a> &nbsp; &nbsp;
		<a
			[routerLink]="['/client']"
			[queryParams]="{ pageno: 3}"
		>
			Page 3
		</a> &nbsp; &nbsp;
		 


    <hr />
    <div class="container_body">
		<p class="{{ loading ? '' : 'hide'}}">Loading....</p>
		<p class="{{ !apiMsg ? 'hide' : ''}}">{{ apiMsg }}</p>
		<ng-container  *ngFor="let user of users; index as key">
			<div class="box" *ngIf="key>=(page-1)*cnt && key<=page*cnt-1 ">
				Sl : {{ key+1 }} <br />
				Name : {{ user['name'] }}<br />
				Username : {{ user['username']}}<br />
				Email Id : {{ user['email']}}<br /><br />
				<a routerLink="/users/{{ user['id']}}/posts">See Post</a> 
			</div>
		</ng-container >
	</div>
</div>
